{{ define "main" }}
{{ $pyscript_is_default := or (eq .Params.default_tab "pyscript") (not ( isset .Params "default_tab" )) }}
{{ $pyodide_is_default := eq .Params.default_tab "pyodide"}}

{{ $pyscript_defaut_bool := cond $pyscript_is_default "true" "false"}}
{{ $pyodide_default_bool := cond $pyodide_is_default "true" "false"}}

{{ $show_pyscript_default := cond $pyscript_is_default "show" ""}}
{{ $show_pyodide_default := cond $pyodide_is_default "show" ""}}

{{ $pyscript_active := cond $pyscript_is_default "active" ""}}
{{ $pyodide_active := cond $pyodide_is_default "active" ""}}

<h1 class="card-title">{{ .Title }}</h5>
<div class="col align-items-center mt-6 justify-content-center">
    <div class="">
        <ul class="nav nav-pills pt-3 px-3 mb-4" id="nav-tab" role="tablist">
            <li class="nav-item" role="presentation">
                {{ with .Resources.GetMatch "both.html"}}
                    <button class="nav-link {{ $pyscript_active }}" id="pyscript-tab" data-bs-toggle="tab" data-bs-target="#pyscript" type="button" role="tab" aria-controls="pyscript" aria-selected="{{ $pyscript_defaut_bool }}">PyScript</button>
                {{ else }}
                    {{ with .Resources.GetMatch "pyscript.html"}}
                    <button class="nav-link {{ $pyscript_active }}" id="pyscript-tab" data-bs-toggle="tab" data-bs-target="#pyscript" type="button" role="tab" aria-controls="pyscript" aria-selected="{{ $pyscript_defaut_bool }}">PyScript</button>
                    {{ else }}
                    <button class="nav-link disabled" id="pyscript-tab">PyScript</button>
                    {{ end }}
                {{ end }}
            </li>
            <li class="nav-item" role="presentation">
                {{ with .Resources.GetMatch "both.html"}}
                    <button class="nav-link {{ $pyodide_active }}" id="pyodide-tab" data-bs-toggle="tab" data-bs-target="#pyodide" type="button" role="tab" aria-controls="home" aria-selected="{{ $pyodide_default_bool }}">Pyodide</button>
                    {{ else }}
                {{ with .Resources.GetMatch "pyodide.html"}}
                <button class="nav-link {{ $pyodide_active }}" id="pyodide-tab" data-bs-toggle="tab" data-bs-target="#pyodide" type="button" role="tab" aria-controls="home" aria-selected="{{ $pyodide_default_bool }}">Pyodide</button>
                {{ else }}
                <button class="nav-link disabled" id="pyodide-tab">Pyodide</button>
                {{ end }}
                {{ end }}
            </li>
            <li class="nav-item" role="presentation">
                {{ with .Resources.GetMatch "micropython.html"}}
                <button class="nav-link" id="micropython-tab" data-bs-toggle="tab" data-bs-target="#micropython" type="button" role="tab" aria-controls="home" aria-selected="false">micropython</button>
                {{ else }}
                <button class="nav-link disabled" id="micropython-tab">Micropython (Coming Soon)</button>
                {{ end }}
            </li>
            
        </ul>
        <div class="card-body">
            <div class="card-text mb-2">{{ .Content }}</div>
            
            <div class="tab-content" id="tab-content">
                <div class="tab-pane {{ $pyscript_active }}" role="tabpanel" id="pyscript" area-labelledby="pyscript-tab" tabindex="0">
                {{ with .Resources.GetMatch "both.html" }}
                    {{ .Content }}
                    <div class="version-box">{{ partial "pyscript-version.html"}}<br>{{ partial "pyodide-version.html" }}</div>
                {{ else }}
                    {{ with .Resources.GetMatch "pyscript.html" }}
                        {{ .Content }}
                        <div class="version-box">{{ partial "pyscript-version.html" }}</div>
                    {{ end }}
                {{ end }}   
                </div>
                <div class="tab-pane {{ $pyodide_active }}" role="tabpabel" id="pyodide" area-labelledby="pyscript-tab" tabindex="1">
                    {{ with .Resources.GetMatch "both.html" }}
                        {{ .Content }}
                        <div class="version-box">{{ partial "pyscript-version.html"}}<br>{{ partial "pyodide-version.html" }}</div>
                    {{ else }}
                        {{ with .Resources.GetMatch "pyodide.html"}}
                            {{ .Content  }}
                            <div class="version-box">{{ partial "pyodide-version.html" }}</div>
                        {{ end }}
                    {{ end }}
                </div>
            </div>
            
        </div>
    </div>
</div>

{{ end }}