{{ define "main" }}

<div class="container align-items-center h-100 justify-content-center">
    <h2 class="display-4 text-center code-card ms">PyScript and Pyodide Recipes</h2>
    <p>This site contains a number of code snippets and guideines for accomplishing specific tasks with <a href="https://pyscript.net">PyScript</a> and <a href="https://pyodide.org">Pyodide.</a></p>
    
    <h3>What are Pyodide and PyScript?</h3>
    <p><b>Pyodide</b> is a distribution of Python for Web Browsers and NodeJS. It takes the CPython interpreter, compiles it to <a href="https://webassembly.org/">Web Assembly</a> (using <a href="https://emscripten.org/">Emscripten</a>), adds some additional useful <a href="https://pyodide.org/en/stable/usage/api/js-api.html">JavaScript APIs</a> and <a href="https://pyodide.org/en/stable/usage/api/python-api.html">Python APIs</a>, and makes it all available via a CDN. Additionally, the Pyodide project provides <a href="https://pyodide.org/en/stable/usage/packages-in-pyodide.html">over 100 packages</a> with their C/Rust/Fortran extensions pre-compiled to run on WebAssembly; these are made available through an additional built-in tool called <a href="https://micropip.pyodide.org/en/stable/project/api.html">Micropip</a>.</p>
    <p><b>PyScript</b> is an HTML-focused framework for utilizing WebAssembly-based Python runtimes in the browser. It adds additonal Python and HTML API's to ease integration of Python with web development. Currently, Pyodide interpreter is the only supported interpreter, though support for <a href="https://micropython.org/">Micropython</a> is in works.</p>

    <h3>What is a recipe?</h3>
    <p>A recipe is short snippet of code intended to do one simple thing. It is different from an <i>example</i>, which might be a fully-realized page accomplishing some holistic task; and a <i>tutorial</i>, which gives an in-depth explanation of the full usage of a specific piece of functionality or API.</p>
    <p>Some recipes are followed by <i>tutorials</i> explaning how they work.</p>

</div>


{{ end }}