<div class="flex-shrink-0 p-3 bg-white" style="width: 280px;">
    <a href="/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
      <img class="bi me-2" width="48" height="48" src="/pylogo.svg">
      <span class="fs-5 fw-semibold">PyScript Recipes</span>
    </a>
    <ul class="list-unstyled ps-0">
      <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
          Basics
        </button>
        <div class="collapse show" id="home-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            {{ range where .Site.Pages "Params.flavor" "basic"}}
              <li><a href="{{.RelPermalink}}" class="link-dark rounded">{{ .Name }}</a></li>
            {{ end }}
          </ul>
        </div>
      </li>

      <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#api-collapse" aria-expanded="false">
          APIs
        </button>
        <div class="collapse" id="api-collapse">
          <button class="btn btn-toggle-2 align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#pyscript-api-collapse" aria-expanded="true">
            PyScript APIs
          </button>
          <div class="collapse show" id="pyscript-api-collapse">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
              {{ range where .Site.RegularPages "Section" "pyscript-api" }}
                <li><a href="{{.RelPermalink}}" class="link-dark rounded">{{ .Name }}</a></li>
              {{ end }}
            </ul>
          </div>

          <button class="btn btn-toggle-2 align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#pyodide-api-collapse" aria-expanded="true">
            Pyodide APIs
          </button>
          <div class="collapse show" id="pyodide-api-collapse">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
              {{ range where .Site.RegularPages "Section" "pyodide-api" }}
                <li><a href="{{.RelPermalink}}" class="link-dark rounded">{{ .Name }}</a></li>
              {{ end }}
            </ul>
          </div>
        </div>
      </li>
      
      <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#other-collapse" aria-expanded="false">
          Something Else?
        </button>
        <div class="collapse show" id="other-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            {{ range where .Site.Pages "Params.flavor" "file"}}
              <li><a href="{{.RelPermalink}}" class="link-dark rounded">{{ .Name }}</a></li>
            {{ end }}
          </ul>
        </div>
      </li>
      <li class="border-top my-3"></li>
    </ul>
  </div>